[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AdMit"]
	path = AdMit
	url = https://github.com/ardiad/admit
[submodule "DEoptim"]
	path = DEoptim
	url = https://github.com/ardiad/deoptim
[submodule "PeerPerformance"]
	path = PeerPerformance
	url = https://github.com/ardiad/peerperformance
[submodule "RSDC"]
	path = RSDC
	url = https://github.com/ardiad/rsdc
[submodule "RiskPortfolios"]
	path = RiskPortfolios
	url = https://github.com/ardiad/riskportfolios
[submodule "bayesGARCH"]
	path = bayesGARCH
	url = https://github.com/ardiad/bayesgarch
